doctype html
html
    head
        title Burn map
        link(rel="stylesheet", type="text/css", href=resourceUrl("css/index.css"))
    body.container
        header
            h1 Burn'Map, leave a trace !
        #map
        footer
            |Timeline
        script(src=resourceUrl("index.js"))
