doctype html
html
    head
        title Burn map
        link(rel="stylesheet", type="text/css", href=resourceUrl("css/index.css"))
    body.container
        h1 Burn map
        script(src=resourceUrl("index.js"))
